/* This is taken from https://codepen.io/savalazic/pen/QKwERN/*/
section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
background-color: #181a1b;
}

.footer {
      background-color: #181a1b;
      padding: 15px;
    }

.text-muted {
    color: rgb(158, 150, 137) !important;
}

/* This is taken from https://julianikulski.com/*/
.navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: bold;
}

#navbar-color, #name-color
{
    color: #FFF;
}

.navbar-color:hover
{
    text-decoration: none;
    color: #000;
}

.index-navbar-custom
{
    background-color: #2CD4A7;
}

.portfolio-navbar-custom
{
    background-color: #2FDEDB;
}

.about-navbar-custom
{
    background-color: #33C6B8;
}

.navbar-toggler
{
    background-color: #FFF;
}



h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #F0F8FF;
}

header {
  background: #3F51B5;
  padding: 300px;

  }

##header p {
  font-family: 'Allura';
  color: #F0F8FF;
  margin-bottom: 0;
  font-size: 60px;
}

.timeline {
  position: relative;
  background: #181a1b;
}
.timeline::before {
  content: '';
  background: #6c757db3;
  width: 5px;
  height: 105%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

#a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus {

  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

#blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #3f51b5;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 576px) {

    .title-description
    {
        padding-top: 100px;
    }

.title-description
    {
        padding-top: 20px;
        font-size: 15px;
        font-weight: 400;
    }

.headline {
      margin-left: 10px;
      margin-right: 15px;
      letter-spacing: 3px;
    font-weight: 400;
    color: white;
    }

}


@media (min-width: 576px) {

.title-description
    {
        padding-top: 20px;
        font-size: 15px;
        font-weight: 400;
    }

.headline {
      margin-left: 10px;
      margin-right: 10px;
      letter-spacing: 3px;
    font-weight: 400;
    color: white;
    }

}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (min-width: 600px) {


    .title-description
    {
        padding-top: 20px;
        font-size: 15px;
        font-weight: 400;
    }

.headline {
      margin-left: 10px;
      margin-right: 10px;
      letter-spacing: 3px;
    font-weight: 400;
    color: white;
    }
  }

@media screen and (max-width: 768px) {
    .hidden-narrow{
      display: none;
    }

 .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}


@media screen and (min-width: 768px) {

.hidden-wide{
      display: none;
    }

.title-description
    {
        padding-top: 150px;
        font-size: 15px;
        font-weight: 400;
    }

.headline {
      margin-left: 170px;
      margin-right: 35px;
      letter-spacing: 3px;
    font-weight: 400;
    color: white;
    }

    .additional-margin
    {
        padding-left: 10px;
    }


    .title-container
{
    width:100%;
    position: relative;
    bottom: -140px;
    right: -90px;
    padding-right: 50px;
}


}


@media (min-width: 992px) {

.hidden-wide{
      display: none;
    }

.title-description
    {
        padding-top: 150px;
    }

    .additional-margin
    {
        padding-left: 10px;
    }
    .headline {
      margin-left: 350px;
      margin-right: 60px;
}

    .title-container
{
    width:100%;
    position: relative;
    bottom: -140px;
    right: -90px;
    padding-right: 50px;
}
}


@media (min-width: 1200px) {

.hidden-wide{
      display: none;
    }

.title-description
    {
        padding-top: 150px;
    }

    .additional-margin
    {

        padding-left: 100px;

    }

    .headline {
      margin-left: 400px;
      margin-right: 70px;
    }

    .title-container
{
    width:100%;
    position: relative;
    bottom: -140px;
    right: -90px;
    padding-right: 50px;
}

    .navbar-collapse
    {
        font-size: 18px;
    }
    .title-text
    {
        font-size: 28px;
    }
    .title-description
    {
        font-size: 18px;

    }
    .project-des
    {
        font-size: 16px;
    }
    .skills
    {
        font-size: 14px;
    }
    .portfolio-row
    {
        padding: 30px 60px 30px 60px;
        bacground-color: #989ea4;
    }
    .text-right
    {
        text-align: right;

    }
}

@media (min-width: 1500px) {

.hidden-wide{
      display: none;
    }

.title-description
    {
        padding-top: 150px;
    }

.title-container
{
    width:100%;
    position: relative;
    bottom: -100px;
    right: -200px;

}
}

@media (min-width: 1650px) {

.hidden-wide{
      display: none;
    }

.title-description
    {
        padding-top: 150px;
    }

.title-container
{
    width:100%;
    position: relative;
    bottom: -100px;
    right: -290px;

}
.headline {
      margin-left: 350px;
      margin-right: 100px;
    }

}


.about-legend
{
    display: inline-block;
    width: 20px;
}

.about-header
{
    color: black;
    font-weight: bold;
}


.skill-spec
{
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(25,32,91, 1), rgba(25,32,91, 0.5));
    /*background-color: #33C6B8;*/
    border-radius: 3px;
    z-index: 10;
}

.skill-bar
{
    position: relative;
    height: 15px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #CCCCCC, #FFFFFF);
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* This code was taken from https://www.w3schools.com/css/css_tooltip.asp */

.skill-bar .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-image: linear-gradient(to bottom right, #F8F8F8, #FFFFFF);
  color: #000000;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  top: -38px;
  right: 55%;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);

  /* Position the tooltip text */
  position: absolute;
  z-index: 10;
}

.skill-bar:hover .tooltiptext {
  visibility: visible;
}

.about-row
{

    Padding: 40px 70px 30px 70px;
}

.home-content
{
    background: #181a1b;
    Padding: 60px 0 5px 0;
}

.title-color
{
    padding: 210px 0 0px;
    position: relative;
    z-index: 1;
    display: block;
    height: 650px;
    Position: relative;

}
/*bottom: 10px;*/

#index-title
{
    background: url("./images/pexels-photo-16246002.46a5d23f7e00.jpeg") no-repeat center center fixed;

    background-position: top;
    background-size: 2000px 1000px;
    bacground: #181a1b;
}

.skill-cat
{
    margin-top: 20px;
    min-height: 50px;
}

.bg{
    background-color: #181a1b
}

.index-btn
{
    margin: 10px 0 10px 0;
    background-color: #2CD4A7;
    color: #FFFFFF;
    padding: 5px 0 5px 0;
}

.index-btn:hover
{
    background-color: rgba(44,212,167,0.5);
    color: #000000;
    text-decoration: none;
}

.portfolio-btn
{
    margin: 10px 0 10px 0;
    background-color: #3f51b5;
    color: #FFFFFF;
}

.portfolio-btn:hover
{
    background-color: #3f51b59c;
    color: #000000;
}

.about-link:hover
{
    color: #3f51b59c;
}

.title-description
{
    font-size: 15px;
    font-weight: 400;

}

.headline {
  letter-spacing: 3px;
  font-weight: 400;
  color: white;

}

.container
{
    width:100%;

}
.timeline_wrapper {
  position: relative;
  /* to fix the timeline connector */
}







