{% extends 'base.html' %}
{% load static %}
{% block content %}


<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N966LM2');
    </script>
    <!-- End Google Tag Manager -->
    <!-- This is taken from Bootstrap https://getbootstrap.com/docs/4.4/getting-started/introduction/-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

    <link href="{% static '/landingpage_style.css' %}" rel="stylesheet">
</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N966LM2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-expand-lg navbar-dark bg fixed-top">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Jacek Milo</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler bg-dark" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon bg-dark "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white-150" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link focus text-white-150" href="./items">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link focus text-white-150" href="./new">About me</a>
                </li>
            </ul>

            <div class="d-md-flex justify-content-end">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/JacekzMilo">GitHub
                            <img src="{% static 'images/github.png' %}" alt="..." width="24" height="24"
                                 class="d-inline-block align-top"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/jacekmilo/">Linkedin
                            <img src="{% static 'images/linkedin.png' %}" alt="..." width="25" height="24"
                                 class="d-inline-block align-top"></a>

                    </li>
                </ul>
            </div>

        </div>
    </div>


</nav>

<section class="title-color" id="index-title">
    <div class="container title-container">
        <div class="headline">
<!--            <div class="additional-margin">-->
            <div class="title-description">
                <p style="text-align: left">I am a data engineer and hobbyist programmer constantly searching
                    for new areas for deep dives.</p>
                <h2 style="text-align: left">Data engineering and analysis</h2>
            </div>
<!--            </div>-->
        </div>
    </div>
</section>


<section class="home-content">
    <div class="container">
        <div class="row portfolio-row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    {% for projects in projects|slice:":1" %}
                    <div class="text-center">
                        <h2 class="index-header">My latest project: {{ projects.Project_name }}</h2>
                        <p style="color:white; font-size:20px">{{ projects.Project_desc }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="card_img">
                        <a target="_blank"
                           href="https://github.com/JacekzMilo/{{ projects|stringformat:'r' }}">
                            <img class="portfolio-img" src="{{projects.Project_img.url}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h2 class="index-header">My next project</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row index-img text-center">
                        <p style="color:white; font-size:20px">Improving my crypto article analyzer as well as taking
                            part in courses realted with data engineering.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


<div class="footer text-muted">
    <div class="container-fluid text-center">
        <p><small>&copy; Copyright 2021</small></p>
    </div>
</div>

<script type="text/javascript">
_linkedin_partner_id = "5008009";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(l) {
if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
window.lintrk.q=[]}
var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5008009&fmt=gif" />
</noscript>
</body>
</html>

{% endblock %}